.blog-list {
  width: 1000px;
  margin: 30px auto 0;
  padding: 0 24px;
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif
}

.blog-list .item {
  padding: 15px 10px 20px;
  border-bottom: 1px solid #eee
}

.blog-list .item .title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 6px;
}

.blog-list .item .meta {
  font-size: 14px;
  margin-bottom: 6px;
}

.blog-list .item .dot {
  display: inline-block;
  padding: 0 5px;
}

.blog-list .item .meta a {
  color: #009a61;
}

.blog-list .item .meta span {
  color: #9E9E9E;
}

.blog-list .item .content {
  display: block;
  height: 72px;

  font-size: 16px;
  line-height: 24px;
  color: #9E9E9E;
}
